fileFormatVersion: 2
guid: 60e64c42208e52547a6b1955b892c17a
timeCreated: 1527066162
licenseType: Pro
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
